*{
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url('../images/backcover.svg');
    background-position: right;
    background-size: 48%;
    background-repeat: no-repeat;
}
nav{
display: flex;
align-items: center;
justify-content: space-around;
height: 50px;
}
nav img{
    height:40px;
}

.nav-items{
    display: flex;

}
.nav-item{
    margin-left:20px;
    font-size: 13px;
}
button{
    border-radius:20px;
    border: none;
    background-image: linear-gradient(to right, rgb(176, 80, 231), rgb(245, 135, 219));
    margin:7px;
    font-weight:800px;

}
/* ---------------- */
.signin-btn{

    padding: 0px 15px;

}
/* --------------------------- */
.intro-section{
 display: flex;
}
.left-section{
    margin-left: 7rem;
    margin-top: 7rem;
    
}
.left-section h1{

    font-size: 3rem;
    color: #3e4794;
    margin-bottom: 3rem;
    font-weight: 700;
    font-family: 'Lato', sans-serif;

}
.left-section h4 {
    color: #758283;
    font-size: .9rem;
    margin-bottom: 3rem;
    width: 50%;
    line-height: 1.8;
}
/* ................ */

.vector-img{
    position: absolute;
    bottom:5rem;
    
}

.vector-dot{
    position: absolute;
    bottom:11rem;
    left: 42rem;
}
.learn-more-btn{

font-size: 15px;
padding: 10px 20px;
}
[alt="intro-img"] {
  height: 590px;
  width:700px;
  
}


